/*  global styling  */

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', serif;
}

html {
    background-color: rgb(116, 179, 234);
}

/*  header styling  */

.headerGrid {
    background-color: rgb(254, 254, 254);

    border-bottom: 0.5vh solid rgb(42, 69, 93);
}

/*  header styling  // text  */

.headerGrid h2 {
    font-size: 20pt;

    color: rgb(24, 45, 63);
}


.headerGrid i {
    margin-right: 2vw;
}

.headerGrid a, a:visited, a:active{
    text-decoration: none;
    color: rgb(24, 45, 63);
}

/*  body styling  */

.bodyGrid {
    margin: 3vh 2vw 3vh 2vw;
}

.bodyMain {
    padding: 2vh 0 4vh 0;
    border-radius: 4vw;
    background-color: rgb(255, 255, 255);
}

.bodyMain img {
    height: 25vh;
    margin: 2vh 0 2vh 0;
    align-self: center;

    box-shadow: 1vw 1vw rgba(57, 72, 100, 0.3);
}

/*  body styling // text  */

.bodyMain h2 {
    margin-left: 2vw;
    font-size: 34pt;
    text-align: center;

    color: rgb(40, 73, 103);
}

.bodyMain h3 {
    margin-left: 3vw;
    font-size: 14pt;

    color: rgb(104, 121, 136);
}

.bodyMain h4 {
    margin-left: 3vw;
    font-size: 18pt;
    text-align: center;

    color: rgb(104, 121, 136);
}

.bodyMain p {
    margin: 2vh 2vw 0 2vw;
    font-size: 14pt;

    color: rgb(10, 33, 53);
}

/*  footer styling  */

.footerGrid {
    padding: 5vh 0 5vh 0;
    background-color: rgb(127, 152, 174);

    text-align: center;
}

/*  footer styling // text  */

.footerItem h1{
    margin: 0 0 4vh 0;
    font-size: 30pt;

    color: rgb(36, 62, 87);
}

.footerItem a{
    font-size: 20pt;
    color:rgb(218, 233, 247);
    text-decoration: none;
}

/*  footer styling // lists  */

.footerItem li{
    list-style: none;
}

.footerItem i{
    font-size: 60pt;
    color:rgb(193, 215, 235);
}
