/*  header formatting   */

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;
    grid-auto-rows: 10vh;
}

/*  body formatting   */

.bodyGrid {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-gap: 4vh;
}

.bodyMain {
    display: flex;
    flex-direction: column;
}

/*  footer formatting   */

.footerGrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.footerGrid ul {
    display: flex;
    justify-content: space-evenly;
}


