/*  header formatting   */

.headerGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;
    justify-items: center;
    grid-auto-rows: 10vh;

}

/*  body formatting   */

.bodyGrid {
    display: grid;
    grid-template: repeat(4, 1fr);
    grid-gap: 2vh;

}

.bodyMain {
    display: flex;
    flex-direction: column;

}

.bodyMainH {
    display: flex;
    flex-direction: column;

}

.bodyCardList {
    display: flex;
    overflow-x:scroll;

}

.bodyCard {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    transition: all .3s ease;
}

/*  body animations  */

.bodyCard:hover {
    transform: translateY(-20px);
    box-shadow: rgba(99, 99, 99, 1.2) 0px 2px 8px 0px;
    
}


/*  footer formatting   */

.footerGrid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
}

.footerGrid ul {
    display: flex;
    justify-content: space-evenly;
}

.fa-brands{
    transition: all .2s ease;
    cursor: pointer;
}

.fa-brands:hover{
    transform: scale(1.15);

}

/*  start formatting for tablets  */

@media all and (min-width: 600px) {
    /*  header formatting   */

    .headerGrid {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;

        align-items: center;
        justify-items: flex-start;
        grid-auto-rows: 10vh;
    }

    /*  body formatting   */

    .bodyGrid {
        display: grid;
        grid-template: repeat(4, 1fr);
        grid-gap: 4vh;
    }

    .bodyMainH {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /*  body formatting // image card  */

    .imgCard {
        display: flex;        
        flex-direction: row;
        border: 1px solid red;
    }

    /*  footer formatting   */

    .footerGrid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .footerGrid ul {
        display: flex;
        justify-content: center;

    }
    
}

/*  start formatting for desktops  */

@media all and (min-width: 960px) {
    /*  header formatting   */

    .headerGrid {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;

        align-items: center;
        justify-items: flex-start;
        grid-auto-rows: 10vh;
    }

    /*  body formatting   */

    .bodyGrid {
        display: grid;
        grid-template: repeat(4, 1fr);
    }

    .bodyMainH {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow:auto;
    }

    /*  body formatting // image card  */

    .imgCard {
        display: flex;        
        flex-direction: row;
    }

    /*  footer formatting   */

    .footerGrid {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
    }

    .footerGrid ul {
        display: flex;
        justify-content: center;
    }
}