/*  global styling  */

* {
    margin: 0;
    padding: 0;

    font-family: 'Lato', sans-serif;
}

html {
    background-color: rgb(64, 110, 152);
}

/*  header styling  */

.headerGrid {
    background-color: rgb(254, 254, 254);

    border-bottom: 0.5vh solid rgb(42, 69, 93);
}

/*  header styling  // text  */

.headerGrid h2 {
    font-size: 20pt;

    color: rgb(24, 45, 63);
}


.headerGrid i {
    margin-right: 2vw;
}

.headerGrid a, a:visited, a:active{
    text-decoration: none;
    color: rgb(24, 45, 63);
}


/*  body styling  */


.bodyMain {
    padding: 4vh 0 4vh 0;
    text-align: center;

    border-radius: 2vh 2vh 0 0;
    border-bottom: 0.5vh solid rgb(42, 69, 93);
}

.bodyMainH {
    padding: 4vh 0 4vh 0;
    text-align: center;

    background-color: rgb(220, 234, 252);
}

.bodyMainPItem {
    font-size: 24pt;
    padding: 8vh 5vw 8vh 5vw;

    border-radius: 5vh;
    background-color: rgba(18, 49, 76, 0.6);
}


/*  body styling // text  */

.bodyMain ,.bodyMainH h1 {
    font-size: 18pt;

    color: rgb(90, 120, 146);
}

.bodyMain h2 {
    margin: 0 0 4vh 0;
    font-size: 30pt;

    color: rgb(71, 133, 200);
}

.bodyMain p {
    font-size: 20pt;
    text-align: left;

    color: rgba(210, 231, 252, 0.8);
}

.bodyMainPItem h2 {
    font-size: 30pt;

    color: rgb(177, 213, 252);
}

.bodyMainPItem p {
    font-size: 24pt;
}

/*  body styling // Images  */

.bodyMainH .imgCircle {
    width: 70vw;
    height: 70vw;

    border-radius: 100%;
}

.bodyMainPItem img {
    height: 40vh;
    filter:brightness(20%);
}

/*  body styling // lists  */

.bodyMain li {
    font-size: 20pt;

    color: rgb(43, 61, 76);
}

/*  footer styling  */

.footerGrid {
    padding: 5vh 0 5vh 0;
    background-color: rgb(127, 152, 174);

    text-align: center;
}

/*  footer styling // text  */

.footerItem h1{
    margin: 0 0 4vh 0;
    font-size: 30pt;

    color: rgb(36, 62, 87);
}

.footerItem a{
    font-size: 20pt;
    color:rgb(218, 233, 247);
    text-decoration: none;
}

/*  footer styling // lists  */

.footerItem li{
    list-style: none;
}

.footerItem i{
    font-size: 60pt;
    color:rgb(193, 215, 235);
}

/*  start styling for tablets  */

@media all and (min-width: 600px) {
    /*  header styling  */

    .headerGrid {
        border-bottom: 0.2vh solid rgb(42, 69, 93);
    }

    /*  header styling  // text  */

    .headerGrid h2 {
        font-size: 26pt;

        color: rgb(24, 45, 63);
    }

    .headerGrid i {
        margin-left: 4vw;
    }

    /*  body styling  */

    .bodyGrid {
        margin: 4vh 0 5vh 0;
    }

    /*  body styling // text  */

    .bodyMainH h1 {
        margin-left: 8vw;
        font-size: 24pt;
    }

    .bodyMain h1 {
        font-size: 24pt;
    }

    .bodyMain h2 {
        font-size: 60pt;
    }

    .bodyMain p {
        font-size: 24pt;
        margin: 0 10vw 0 10vw;
    }

    /*  body stying // images  */

    .bodyMainH .imgCircle {
        width: 40vw;
        height: 40vw;
    
        border-radius: 100%;
    }

    /*  body styling // lists  */

    .bodyMain li {
        font-size: 28pt;
    }

    /*  footer styling  */

    /*  footer styling // text  */

    .footerItem h1{
        margin: 0 0 4vh 0;
        font-size: 40pt;
    }

    .footerItem a{
        font-size: 30pt;
    }

    /*  footer styling // lists  */

    .footerItem i {
        font-size: 70pt;
        margin: 0 4vw 0 4vw;
    }
}

/*  start styling for desktops  */

@media all and (min-width: 960px) {
    /*  header styling  */

    .headerGrid {
        border-bottom: 0.3vh solid rgb(42, 69, 93);
    }

    /*  header styling  // text  */

    .headerGrid h2 {
        font-size: 16pt;

        color: rgb(24, 45, 63);
    }

    .headerGrid i {
        margin-left: 4vw;
    }

    /*  body styling  */

    .bodyGrid {
        margin: 5vh 0 5vh 0;
    }

    .bodyMainH {
        padding: 5vh 0 5vh 0;
    }

    .bodyMain {
        padding: 15vh 0 15vh 0;
    }
 

    /*  body styling // text  */

    .bodyMainH h1 {
        font-size: 20pt;
        margin-left: 8vw;
    }

    .bodyMain h1 {
        font-size: 28pt;
    }

    .bodyMain h2 {
        margin: 0 0 6vh 0;
        font-size: 60pt;
    }

    .bodyMain p {
        font-size: 20pt;
        margin: 0 14vw 0 14vw;
    }

    /*  body stying // images  */

    .bodyMainH .imgCircle {
        width: 20vw;
        height: 20vw;
    
        border-radius: 100%;
    }

    /*  body styling // lists  */

    .bodyMain li {
        font-size: 32pt;
    }

    /*  footer styling  */

    /*  footer styling // text  */

    .footerItem h1{
        margin: 0 0 4vh 0;
        font-size: 30pt;
    }

    .footerItem a{
        font-size: 26pt;
    }

    /*  footer styling // lists  */

    .footerItem i{
        margin: 0 4vw 0 4vw;
        font-size: 50pt;
    }
}